
<%-include("header")-%>

<body>
    <h2>this is about page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora recusandae maxime reiciendis sit placeat dicta a nulla est, mollitia officia culpa, natus quaerat eius ratione, enim obcaecati. Nulla quis corrupti placeat quod reiciendis ad explicabo quos delectus perspiciatis ab. Impedit.</p>
</body>

<%- include('footer') -%>